*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #dfa3a4;
    width: 100%;
    height: 100vh;
}
img{
    width: 45px;
}
.todo-container{
    background-color: white;
    max-width: 550px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    border-radius: 10px;
    /* border: 5px solid red; */
    box-shadow: 10px 5px 10px rgba(220, 9, 9, 0.6) ;
}
h1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 120px;
}
.input{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
#input-field{
    width: 70%;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    box-shadow: 0px 3px 6px rgba(89, 80, 80, 0.7) inset;
    border-radius: 30px;
}
input::placeholder{
    color: rgb(138, 25, 25);
}
.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(62, 61, 61);
    color: white;
    cursor: pointer;
    transition: all 0.3s;
}
.btn:hover{
    background-color: rgba(21, 86, 1, 0.9);
}
ul li {
    list-style: none;
    width: 100%;
    /* background-color: red; */
    border: none;
    padding: 10px 50px;
    border-radius: 30px;
    margin-block: 20px;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    user-select: none;
}
ul li::before{
    content: "";
    background: url(./images/undone.png);
    background-size: cover;
    position: center;
    position: absolute;
    top: 6px;
    left: 8px;
    width: 30px;
    height: 30px;
}
.checked{
    background-color: rgba(3, 97, 18, 0.9);
    color: white;
}
.checked::before{
    background: url(./images/done.png);
    width: 30px;
    height: 30px;
    background-size: cover;
}
span{
    position: absolute;
    right: 10px;
    top: 6px;
    font-size: 25px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
span:hover{
    background-color: rgba(103, 3, 3, 0.9);
    color: #fff;
}
ul li.checked span:hover{
    background-color: white;
    color: black;
}